@keyframes enter { 100% { transform:rotate(360deg); } }
@keyframes leave { 100% { transform:rotate(-360deg); } }
@keyframes idleInFrame { 100% {} }
@keyframes idleOutFrame { 100% {} }

#testText {
    color: aliceblue;
    font-size: larger;
  }
#errmsg{
  color: red;
  font-size: larger;
}

#imgDisp {
  opacity: 1;
}
.fadeInOut {
  animation-duration: 3s;
  animation-name: anim;
}
@keyframes anim {
  0% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}