@keyframes enter { 100% { transform:rotate(360deg); } }
@keyframes leave { 100% { transform:rotate(-360deg); } }
@keyframes idleInFrame { 100% {} }
@keyframes idleOutFrame { 100% {} }

#testText {
    color: aliceblue;
    font-size: larger;
  }
#errmsg{
  color: red;
  font-size: larger;
}